        <button type="button" class="btn btn-default navbar-toggle collapsed">            
          
        </button>
        <a href="www.vk.com" class="navbar-brand">dadwd<span class="glyphicon glyphicon-home"></span></a>
