<div class="user-photos">
  <% if @photos.empty? %>
    <% if !@user.nil? && @user.id == current_user.id %>
      <% personality = "You have" %>
    <% elsif !@user.nil? && @user.id != current_user.id %>
      <% personality = @user.firstname + " has" %>
    <% end %>
      <div class="text-align-center well alert-info" role="alert"><%= personality %> no uploaded photos yet.</div>
  <% else %>
  <%= @user.id %>
    <% @photos.each_with_index do |photo, index| %>
      <div class="photo-body">
        <%= image_tag photo.image.url(:medium), class: "img-thumbnail img-rounded" %>
      </div>
      <% if index % 5 == 0  && index != 0%>
      dawd
        <hr>
      <% end %>
    <% end %>
  <% end %>
</div>